
.headimg{
  width: 1600px;
  height: 520px;
}

.topnav{
  background-color: #333;
  width: 100%;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.topnav a{
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background: #ddd;
  color: black;
}

.topnav a.active{
  background-color: #4CAF50;
  color:white;
}

.sidenav{
  float: left;
  background-color: #333;
  width: 240px;
  height: 100%;
  margin-right: 0px;
  z-index: 1;
  top:0;
  left:0;
  overflow-x: hidden;
}

.sidenav a{
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  display: block;
  width: 200px;
}

.sidebarnav a{
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sidenav a:hover{
    background: #ddd;
    color: black;
}

.sidenav a.active{
  background-color: #999999;
  color:white;
}

.sidenavlist{
  list-style-type: none;
}

.sidenavlistbottom{
  padding-top: 300px;
  list-style-type: none;
}

.td {
  padding-left: 20%;
  margin-top: 20px;
}

body{
  margin: 0px;
}

article{
  position: relative;
  margin-left: 300px;
  top: 0;
  width: 800px;
  height: 400px;

}

.articlep2{
  margin-top: 40px;
  text-align: center;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.blocktext{
  margin-left: 0px;
  margin-right: auto;
  width: 50em;
  text-align: justify;
  padding: 5px;
}

.imgformat1{
  width: 400px;
  height: 300px;
  float: left;
}
.imgformat2{
  width: 400px;
  height: 300px;
}

.linktxt{
  text-decoration: none;
  text-align: center;
}

.pages{
    text-align: center;
    bottom: 0;
}
