h1{

}
.menubarnav{
  background-color: #333;
  position: fixed;
  width: 100%;
  overflow: hidden;
}
.menubarnav a{
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menubarnav a:hover{
  background: #ddd;
  color: black;
}

.menubarnav a.active{
  background-color: #4CAF50;
  color:white;
}

.sidebarnav{
  background-color: #333;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 200px;
  height: 100%;
  margin-top: 12px;
}

.sidebarnav a{
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  width: 200px;
}

.sidebarnav a{
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;

}
.sidebarnav a:hover{
    background: #ddd;
    color: black;
}

.sidebarnav a.active{
  background-color: #999999;
  color:white;
}

.td {
  padding-left: 20%;
  margin-top: 20px;
}

.wrapper{
  text-align: center;
}

.button{
   position: absolute;
   top:50%;
}
body{
  margin: 0px;
}
.divtagp2{
  margin-top: 40px;
  text-align: center;
  font-family: Georgia, Times, "Times New Roman", serif;
}
.blocktext{
  margin-left: 300px;
  margin-right: auto;
  width: 50em;
  text-align: justify;
  padding: 5px;
  text-align: left;
}
